/* .stories-swiper .swiper-slide {
  filter: blur(3px);
}
.stories-swiper .swiper-slide.swiper-slide-active {
  filter: blur(0);
} */
/* .stories-swiper .swiper-slide {
  transform: scale(0.5);
}
.stories-swiper .swiper-slide.swiper-slide-active {
  transform: scale(1);
} */
