@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #001338;
  --foreground: #e4f3ff;
  --btnDeg: 45deg;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001338;
    --foreground: #e4f3ff;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}
/* ::-webkit-scrollbar {
  display: none;
} */
a.primaryBtn i {
  background: linear-gradient(
    var(--btnDeg),
    #3b4e78,
    #001338,
    #001338,
    #ffd057
  );
}
.dm-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
